@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Titan+One&display=swap');
body{
    background-color: #89dee2;
    font-family: "Mitr", sans-serif;
    color: #253741;
}

h1, h2{
    font-family: "Titan One", sans-serif;
}
.heading{
    background-color: #d7baad;
    font-size: 4rem;
    text-align: center;
    width: 75%;
    height: fit-content;
    padding: 1%;
    margin-left: 10%;
}

.game-area{
    background-color: #d7baad;
    text-align: center;
    width: 75%;
    height: 400px;
    padding: 1%;
    margin-left: 10%;
    margin-bottom: 5%;
}

/*Index page*/
.rules{
    padding: 1%;
    padding-bottom: 10%;
}

#start-game{
}

#start-btn{
    width: inherit;
    height: auto;
    background-color: #16c2d5;
    color: #253741;
    padding: 5%;
    border-radius: 75%;
}

/*Quizz page*/

#timer{
    background-color: #d7baad;
    width: 75%;
    text-align: center;
    padding: 1%;
    margin-left: 10%;
}

#question-area{
    background-color: #d7baad;
    text-align: center;
    width: 75%;
    height: 200px;
    padding: 1%;
    margin-left: 10%;
    margin-bottom: 5%;
}

#option-area{
    width: 75%;
    height: 400px;
    padding: 1%;
    margin-left: 10%;
    margin-bottom: 5%;
}
#option-one{
    float: left;
    background-color: #d7baad;
    padding: 50px;
    

}

#option-two{
    clear: both;
    float: right;
    background-color: #d7baad;
    padding: 50px;
    margin-top: -125px;
}

#option-three{
    clear: both;
    float: left;
    background-color: #d7baad;
    padding: 50px;
    margin-top: 150px;
    
}

#option-four{
    clear: both;
    float: right;
    background-color: #d7baad;
    padding: 50px;
    margin-top: -125px;
}

.score-area{
    clear: both;
    background-color: #d7baad;
    text-align: center;
    width: 75%;
    padding: 1%;
    margin-left: 10%;
}
/*Media Queries*/
/* For small screens 700px and down*/
@media screen and (max-width: 700px){
.heading{
    font-size: 2rem;
}
.rules{
}

#start-btn{
    padding: 50px;
}
    
}

/*For very small screens 400px and down*/
@media screen and (max-width: 400px){
    .heading{
        font-size: 1.5rem;
    }

    #start-btn{
        padding: 40px;
    }
    
}
