@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Titan+One&display=swap');

body{
    font-family: "Mitr", sans-serif;
    color: #253741;
}
.heading{
    background-color: #d7baad;
    font-family: "Titan One", sans-serif;
    font-size: 4rem;
    text-align: center;
    width: 75%;
    margin-left: 10%;
}

.game-area{
    background-color: #d7baad;
    text-align: center;
    width: 75%;
    margin-left: 10%;

}

/* For small screens 700px and down*/
@media screen and (max-width: 700px){
.heading{
    font-size: 2rem;
}
    
}

/*For very small screens 400px and down*/
@media screen and (max-width: 400px){
    .heading{
        font-size: 1.5rem;
    }
    
}
