@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Titan+One&display=swap');

.heading{
    background-color: #d7baad;
    color: #253741;
    font-family: titan one, sans-serif;
    text-align: center;
    width: 75%;
    margin-left: 10%;
}
